<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>net.nfiniteloop.loqale.backend.RegistrationEndpoint, net.nfiniteloop.loqale.backend.RecommendationEndpoint, net.nfiniteloop.loqale.backend.CheckInEndpoint, net.nfiniteloop.loqale.backend.PlaceEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Recommender</servlet-name>
        <servlet-class>net.nfiniteloop.loqale.backend.Recommender</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recommender</servlet-name>
        <url-pattern>/recommend</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>